* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* ******************** HEADER ******************** */
#divHeader {
    /* border: 1px solid black; */
    text-align: left;
    background-image: url('../recursos/img/GalaxyWall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 120px;
}

#divHeader h3{
    font-size: 40px;
    color: whitesmoke;
    margin: 10px 0 0 10px;
}


/* ******************** DIV CONTENIDO ******************** */
#divContenido__intro,
#divContenido__plantillas {
    /* margin-top: 20px; */
}

/* ******************** DIV NAVEGACIÓN ******************** */
#navegacion {
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    z-index: 1;
    border-bottom: 1px solid black;
    background-color: whitesmoke;
}

#navegacion a,
#navegacion span {
    font-weight: bold;
    color: rgb(92, 91, 91);
}

.separador {
    border-color: black;
    background-color: black;
    margin-top: 30px;
}

/* ******************** DIV INDICE ******************** */
#divIndice {
    min-height: 200px;
    width: 300px;
    padding: 10px;
    background-color: silver;
    border-radius: 5px;
}

#divIndice span {
    color: white;
}

#divIndice ul {
    margin: 5px 0 0;
}

#divIndice li {
    list-style: none;
}

#divIndice a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}


/* ******************** DIV CONTENIDO PLANTILLAS ******************** */
#divContenido__plantillas {
    font-size: 17px;
}

#divContenido__plantillas h2{
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 10px;
    background-color: rgb(139, 136, 136);
    border-radius: 5px;
    color: whitesmoke;
}

#divContenido__plantillas p{
    font-size: 17px;
    text-align: justify;
}


/* ******************** FOOTER ******************** */
#divFooter {
    height: 50px;
    background-color: silver;
}